{% extends 'base.html.twig' %}

{% block title %}Hello Wilders !{% endblock %}

{% block body %}
  <h1>{{ website }} index</h1>
  <div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Search') }}</button>
    {{ form_end(form) }}
  </div>
  <section class="programs_container">
    {% for program in programs %}
      <article>
        <h3>{{ program.title }}</h3>
        <em>{{ program.category.name }}</em>
        <img src="{{ program.poster }}" alt="{{ program.title }}_poster">
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { slug: program.slug }) }}">See more</a>
        {% if app.user == program.owner %}
          <a href="{{ path('program_edit', { slug: program.slug }) }}">Edit</a>
        {% endif %}
      </article>
    {% else %}
      <p>Any program found</p>
    {% endfor %}
  </section>
  <a href="{{ path("home") }}">Go Home</a>
{% endblock %}
