{% extends 'base.html.twig' %}

{% block title %}Hello Wilders !{% endblock %}

{% block body %}
  <section class="program_container">
    <h1>{{ program.title }}</h1>
    <em>{{ program.category.name }}</em>
    <img src="{{ program.poster }}" alt="{{ program.title }}_poster">
    <p>{{ program.summary }}</p>
    <a href="{{ path("program_index", {id: program.id}) }}">Go programs' list</a>
  </section>
{% endblock %}
