{% extends 'base.html.twig' %}

{% block title %}Hello Wilders !{% endblock %}

{% block body %}
  <section class="season_container">
    <header class="season_description">
      <h1>{{ program.title }}</h1>

      <h2>Season {{ season.number }}</h2>
      <em>{{ season.year }}</em>
      <p>{{ season.description }}</p>
    </header>

    <section class="episodes_container">
      {% if season.episodes is not null %}
        {% for episode in season.episodes %}
          <article class="episode_item">
            <h3>{{ episode.title }} - episode.title</h3>
            <p>{{ episode.synopsis }}</p>
            <hr>
            <h4>Comments</h4>
            {% for comment in episode.comments %}
              <em>{{ comment.user.email }} : {{ comment.rate }} / 5 - {{ comment.comment }}</em>
              <br>
            {% else %}
              <em>No comments</em>
            {% endfor %}
            <br>
            {% if app.user %}
              <a href="{{ path('comment_new', {slug: episode.slug}) }}">Add comment</a>
            {% endif %}
          </article>
        {% endfor %}
      {% endif %}
    </section>


    <a href="{{ path("program_show", {slug: program.slug}) }}">Back to program</a>
  </section>
{% endblock %}
