{% extends 'base.html.twig' %}

{% block title %}Hello Wilders !{% endblock %}

{% block body %}
  <section class="program_container">
    <h1>{{ program.title }}</h1>
    {% if app.user %}
      <a id="watchlist" href="{{ path('program_switch_watchlist', {slug: program.slug}) }}">
        {% if app.user.isInWatchlist(program) %}
          Remove to fav
        {% else %}
          Add to fav
        {% endif %}
      </a>
    {% endif %}
    <br>
    <em>{{ program.category.name }}</em>
    <img src="{{ program.poster }}" alt="{{ program.title }}_poster">
    <p>{{ program.summary }}</p>
    <em>Posted by: {{ program.owner.email }}</em>
    {% if seasons is defined %}
      <ul>
        {% for season in seasons %}
          <li>
            <a
              href="{{ path("program_season_show", {slug: program.slug, seasonId: season.number }) }}">Season {{ season.number }}
              - {{ season.year }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if actors is defined %}
      <section class="actors_container">
        {% for actor in actors %}
          <article>
            <p><a href="{{ path('actor_show', {actor: actor.id}) }}">{{ actor.name }}</a></p>
          </article>
        {% endfor %}
      </section>

    {% endif %}


    <a href="{{ path("program_index") }}">Go programs' list</a>
  </section>
{% endblock %}
