{% extends 'base.html.twig' %}

{% block title %}Hello Wilders !{% endblock %}

{% block body %}
  <section class="program_container">
    <h1>{{ program.title }}</h1>
    <em>{{ program.category.name }}</em>
    <img src="{{ program.poster }}" alt="{{ program.title }}_poster">
    <p>{{ program.summary }}</p>
    {% if nbSeasons is defined %}
      <ul>
        {% for loop in nbSeasons %}
          <li><a href="{{ path("program_season_show", {program: program.id, seasonId: loop}) }}">Season {{ loop }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <a href="{{ path("program_index") }}">Go programs' list</a>
  </section>
{% endblock %}
